<div class="card">
  <div class="card-info">
    <h2 class="card-title">titulo da lista</h2>
    <ul class="card-list">
      <div class="card-hover">
        <div class="card-item-container">
          <li class="card-list_item">item</li>
        </div>
        <button class="card-list_btn">Excluir item</button>
      </div>
    </ul>
  </div>
  <div class="card-btn-container">
    <button class="card-btn">Editar lista</button>
    <button class="card-btn">Excluir lista</button>
  </div>
</div>